/* Start Variables */
:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
    --purple: #AD28EB;
}
/* End Variables */

/* Start Global Rules */
* {
    font-family: "work Sans", sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-pink);
    background-image: url(../assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
}
@media(max-width: 375px) {
    body {
        background-image: url(../assets/images/background-pattern-mobile.svg);
        padding: 15px;
    }
}
.hide {
    display: none;
}
/* End Global Rules */

/* Start main */
main {
    width: 500px;
    background-color: var(--White);
    padding: 20px;
    border-radius: 10px;
}
main header {
    display: flex;
}
main header img {
    padding-right: 10px;
}
main .container button{
    width: 100%;
    background-color: inherit;
    border: none;
    text-align: left;
    padding-block: 10px;
}
main .container button:not(:last-of-type) {
    border-bottom: 1px solid var(--Light-pink);
}
main .container button:focus-visible {
    outline: none;
}
main .container button:focus-visible .question h2 {
    color: var(--purple);
}
main .container .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .container .question h2 {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4;
}
@media (max-width: 375px) {
    main .container .question h2 {
        width: 230px;
    }
}
main .container .question h2:hover {
    color: var(--purple);
    cursor: pointer;
}
main .container .question .image img:hover {
    cursor: pointer;
}
main .container .text {
    color: var(--Grayish-purple);
    text-align: left;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1rem;
}
/* End main */